body {
  background-color: rgb(12, 12, 12);
}

/*카드 전체 박스*/
.card {
  width: 600px;
  background-color: white;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  border-color: rgb(12, 12, 12);
  text-align: center;
}

/*소개 문단*/
p {
  color: rgb(101, 101, 101);
  font-size: 16px;
  font-family: "inter";
  margin-bottom: 52px;
}

/*목록*/
ul {
  text-align: left;
  font-size: 18px;
  margin-top: 15px;
}

.contact {
  margin: 10px 0;
}

.contact input {
  width: 90%;
  padding: 8px;
}

.contact-btn {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: rgb(101, 101, 101);
  color: white;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: rgb(12, 12, 12);
}
